@font-face {
    font-family: Morganite;
    src: url(Morganite-Black.ttf);
}

@keyframes ScalingUp {
    from {scale: 100%;}
    to {scale: 105%;}
}

@keyframes ScalingDown {
    from {scale: 105%;}
    to {scale: 100%;}
}

.Background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 500%;

    mix-blend-mode: multiply;
    z-index: 0;
}

html, body {
    --Background_Color: #aa0011;
    --TextColor: #101010;
    background-color: var(--Background_Color);
    background-image: url("Background.jpg");
;
    width: 100vw;
    height: 100%;

    overflow-x: hidden;
}

.Artwork {
    border-radius: 10px;
    border: solid 1px var(--TextColor);

    max-height: 500px;
    max-width: 90vw;

    width: 100%;
    height: 100%;
    object-fit: cover;

    mix-blend-mode: multiply;
    
    position: relative;
    
    scale: 100%;
    
    z-index: 1;

    animation-name: ScalingDown;
    animation-duration: .2s;
}

.Artwork:hover {
    cursor: pointer;
    scale: 105%;

    mix-blend-mode: normal;
    z-index: 2;

    animation-name: ScalingUp;
    animation-duration: .2s;
}

.image_container {    
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;

    column-gap: 10px;
    row-gap: 10px;
}

.image_box {
    width: fit-content;
    height: auto;
}

h1 {
    font-size: 144px;
    color: var(--TextColor);

    font-family: Morganite;
    margin-bottom: 0px;
}

hr {
    color: var(--TextColor)
}

.end {
    margin-top: 15px;

    width: 100vw;
    height:  250px;

    background-color: var(--TextColor);
}